<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo!</h1>
    <p>Freddy Orlando León Ceballos C.I: 27.856.253 Sección 4</p>
  </body>
</html>
